*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: #008E97;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-imagem{
    width: 5%;
    height: 5%;
}

.cabecalho-itens{
    display: inline-block;
    margin: 50px 60px;
}
